{% extends "./base.html" %}
{% block content %}
<div class="container w-50 mt-4 content-section">
    <form class="mt-3" method="get">
        <h5 class="text-center">Are you sure?</h5>
        <p>Are you sure you want to delete the item:</p>
        <ul class="mb-4">
            <li>{{item.description}}</li>
            <li class="mt-2"><bz>Price: {{item.price}}$</bz></li>
        </ul>
        <div class="d-flex justify-content-around mb-3">
            <button type="submit" class="btn btn-danger col-md-5" name="yes">Yes, I'm sure</button>
            <button type="submit" class="btn btn-primary col-md-5" name="no">No, take me back</button>
        </div>
        <small class="text-muted">*Deleting account is an irreversible process, which means we can't revert even if you perform it by accident.</small>
    </form>
</div>
{% endblock %}