{% extends "./base.html" %}
{% block search %}
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="{{ search_text }}">
        </div>
    </form>
{% endblock %}
{% block content %}
<div class="mt-5 content-section">
    {% if items %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Seller</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr onmousedown="window.location='{% url 'item-main' item.id %}';">
                <td>{{ item.description }}</td>
                <td><a style="color:black;" href="{% url 'sellers-item' item.game.id item.seller %}">{{ item.seller }}</a></td>
                <th scope="row">{{ item.price }}$</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>There are no items for this game. Items will be added soon.</h2>
    {% endif %}
</div>
{% endblock %}