{% extends "./base.html" %}
{% block search %}
    <form method="get">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="{{ search_text }}">
        </div>
    </form>
{% endblock %}
{% block content %}
	<div class="d-flex flex-wrap">
		{% if games %}
		{% for game in games %}
			<div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block box">
				<a href="{% url 'game-items' game.id %}">
					<div class="card content-section">
						<img class="game-img"
							src="{{ game.picture_url }}"
							class="card-img-top img-thumbnail"
							alt="{{ game.name }}"
						/>
					</div>
				</a>
			</div>
		{% endfor %}
		{% else %}
		<h2 style="color:white;" class="m-5">No results!</h2>
		{% endif %}
	</div>
{% endblock %}